/* primary color descriptive variables */
$telus-black: #2a2c2e;
$telus-purple: #4b286d;
$telus-green: #2b8000;
$white: #ffffff;

/* background color descriptive variables */
$dark-grey: #474b4d;
$light-grey: #fafafa;
$price-border: #d8d8d8;
$gray: #989898;
