.nav-bar {
    margin: 0% 13%;
    
    &__links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__link {
        padding: 10px;
        position: relative;
        text-decoration: none;
        color: grey;

        &--active {
            border-bottom: solid 2px purple;
        }
    }



    &::after {
        border-bottom: solid 2px purple;
    }
}