@import "../../styles/global.scss";

.premium-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;

  .card-placeholder {
    flex: 1 0 30%;
    height: 129px;
    position: relative;
    border: 2px solid $light-grey;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

    .checkmark {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 20px;
    }
  }
}
